.App {
	text-align: center;
}

.form {
	display: flex;
	justify-content: center;
}

.form label,
.form input,
.form button {
	margin: 1rem;
}

.buttons-container {
	display: flex;
	justify-content: flex-end;

	button {
		margin: 1rem;
	}
}
